# Introducció a Pandas

In [1]:
import pandas as pd

Els objectes principals de Pandas són els `DataFrames` --- venen a ser taules de dades amb files i columnes.

Agafem les dades de les línies de bus que ja coneixem

In [2]:
df = pd.read_csv("data/ctabus.csv")
df

       route        date daytype  rides
0          3  01/01/2001       U   7354
1          4  01/01/2001       U   9288
2          6  01/01/2001       U   6048
3          8  01/01/2001       U   6309
4          9  01/01/2001       U  11207
...      ...         ...     ...    ...
577558   111  08/31/2013       A   2090
577559    11  08/31/2013       A   1045
577560   106  08/31/2013       A    915
577561   103  08/31/2013       A   1213
577562    10  08/31/2013       A    758

[577563 rows x 4 columns]

## Veure les dades

Mètodes per explorar un `DataFrame`:

- `head(n)`-  Mostra les n primeres columnes
- `tail(n)`-  Mostra les n últimes columnes
- `info` - Ens dius quantes entrades no buides hi ha, i el tipus de variable de cada columna
- `describe` - Mostra estadístiques bàsiques de les columnes numèriques

In [6]:
df.head()

  route        date daytype  rides
0     3  01/01/2001       U   7354
1     4  01/01/2001       U   9288
2     6  01/01/2001       U   6048
3     8  01/01/2001       U   6309
4     9  01/01/2001       U  11207

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577563 entries, 0 to 577562
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   route    577563 non-null  object
 1   date     577563 non-null  object
 2   daytype  577563 non-null  object
 3   rides    577563 non-null  int64
dtypes: int64(1), object(3)
memory usage: 17.6+ MB

In [8]:
df.describe()

               rides
count  577563.000000
mean     6687.680632
std      6732.625798
min         0.000000
25%      1436.000000
50%      4258.000000
75%     10170.000000
max     45177.000000

Com que Pandas fa servir NumPy, podem fer servir els mètodes i atributs de NumPy

A més, anirem veient altres atributs interessants, com `columns`

In [9]:
(
    df.shape,
    df.size,
    df.ndim,
    len(df),
)

((577563, 4), 2310252, 2, 577563)

In [10]:
df.columns

Index(['route', 'date', 'daytype', 'rides'], dtype='object')

## Indexar

S'indexa una sola columna igual que un diccionari. El resultat és una `Series` de Pandas.

In [11]:
# Agafem 5 files per no imprimir tant
df = df[75:80]

In [12]:
df["route"]

75    49B
76    52A
77    53A
78    54B
79    63W
Name: route, dtype: object

També es pot indexar com si fós un atribut (si el nom no té espais)

In [13]:
df.route

75    49B
76    52A
77    53A
78    54B
79    63W
Name: route, dtype: object

Si volem indexar diverses columnes, ens cal una llista

In [14]:
cols = ["route", "rides"]
df[cols]

   route  rides
75   49B   1571
76   52A   1451
77   53A   1104
78   54B   1640
79   63W    316

In [15]:
# O el que és el mateix
df[["route", "rides"]]

   route  rides
75   49B   1571
76   52A   1451
77   53A   1104
78   54B   1640
79   63W    316

Per **indexar files** farem servir `.loc`

In [16]:
# Una sola fila també retorna una `Series`
df.loc[75]

route             49B
date       01/01/2001
daytype             U
rides            1571
Name: 75, dtype: object

In [17]:
df.loc[[75, 76, 78]]

   route        date daytype  rides
75   49B  01/01/2001       U   1571
76   52A  01/01/2001       U   1451
78   54B  01/01/2001       U   1640

In [18]:
# Podem fer servir rangs (però cal tenir compte!). Què hi veieu?
df.loc[:77]

   route        date daytype  rides
75   49B  01/01/2001       U   1571
76   52A  01/01/2001       U   1451
77   53A  01/01/2001       U   1104

Els índexs no tenen per què ser números, per això els rangs amb `loc` són inclusius.

Per exemple, podem fer servir una columna com a índex amb `set_index`

In [19]:
route_df = df.set_index("route")
route_df

             date daytype  rides
route
49B    01/01/2001       U   1571
52A    01/01/2001       U   1451
53A    01/01/2001       U   1104
54B    01/01/2001       U   1640
63W    01/01/2001       U    316

In [20]:
route_df.loc["49B"]

date       01/01/2001
daytype             U
rides            1571
Name: 49B, dtype: object

In [21]:
route_df.loc["52A":"54B"]

             date daytype  rides
route
52A    01/01/2001       U   1451
53A    01/01/2001       U   1104
54B    01/01/2001       U   1640

Per 'recuperar' l'índex com a columna fem `.reset_index()`

In [25]:
route_df.reset_index()

  route        date daytype  rides
0   49B  01/01/2001       U   1571
1   52A  01/01/2001       U   1451
2   53A  01/01/2001       U   1104
3   54B  01/01/2001       U   1640
4   63W  01/01/2001       U    316

Fixeu-vos que les operacions no canvien l'objecte si no fem un =

In [26]:
route_df

             date daytype  rides
route
49B    01/01/2001       U   1571
52A    01/01/2001       U   1451
53A    01/01/2001       U   1104
54B    01/01/2001       U   1640
63W    01/01/2001       U    316

Si en canvi volem indexar numèricament, sense fixar-nos en el nom de l'índex o les columnes, farem servir `iloc`

In [27]:
df.iloc[0]

route             49B
date       01/01/2001
daytype             U
rides            1571
Name: 75, dtype: object

In [28]:
df.iloc[:3]

   route        date daytype  rides
75   49B  01/01/2001       U   1571
76   52A  01/01/2001       U   1451
77   53A  01/01/2001       U   1104

In [29]:
df.iloc[:3, 1:]

          date daytype  rides
75  01/01/2001       U   1571
76  01/01/2001       U   1451
77  01/01/2001       U   1104

**Resum**


+ `[]` per selccionar columnes 
+ `.loc[noms_files, noms_columnes]` per indexar per nom
+ `.iloc[poscio_files, posicio_columnes]` per indexar per posició

### Exercici

Posa-ho tot junt. Selecciona les primeres 500 files senars (de l'índex 1 al 999) i les columnes "route", "date" i "rides"

In [170]:
df = pd.read_csv("data/ctabus.csv")

## Llegir i escriure fitxers

Podem llegir dades d'un CSV, Excel, SQL, JSON ...

Les funcions són bastant similars: `pd.read_csv`, `pd.read_excel`...

Segons el format que vulguem llegir i el nostre sistema operatiu és possible que calgui instalar algun altre paquet.

Ens centrarem en fitxers `csv`.
Tot i que el nom ve de "comma separated values", el separador pot ser diferent d'una coma. Canviant l'argument `sep` es poden llegir fitxers amb diferents separadors, com tabuladors "\t" (sovint amb fitxers '.tsv').

In [31]:
# Hi ha moltes opcions
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

Per escriure fitxer, igualment hi ha una funció per cada tipus de dades: `pd.to_csv`, `pd.to_excel`, `to.to_latex`...

## Crear un `DataFrame` 

També podem crear un `DataFrame`a partir d'un diccionari, llista, ser, array ...

### `DataFrame` des d'un diccionari

#### Cada clau és una columna

In [56]:
dict_estudiants = {"nom": ["Maria", "Berta", "Edu", "Arnau"], "edat": [20, 21, 19, 23], "nota": [8.5, 7.7, 9.4, 5.9]}
df_estudiants = pd.DataFrame(dict_estudiants)
df_estudiants

     nom  edat  nota
0  Maria    20   8.5
1  Berta    21   7.7
2    Edu    19   9.4
3  Arnau    23   5.9

In [59]:
df = pd.DataFrame({"X": [78, 85, 96, 80, 86], "Y": [84, 94, 89, 83, 86], "Z": [86, 97, 96, 72, 83]})
df

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

Si ens volem quedar només amb unes quantes columnes, les podem seleccionar amb `columns=['col1', 'col2']`

In [9]:
df_estudiants = pd.DataFrame(dict_estudiants, columns=["nom", "nota"])
df_estudiants

     nom  nota
0  Maria   8.5
1  Berta   7.7
2    Edu   9.4
3  Arnau   5.9

Per defecte, es crea una primera columna, _l'índex_, amb nombres naturals

In [13]:
df_estudiants.index

RangeIndex(start=0, stop=4, step=1)

El podem modificar quan creem el `DataFrame` amb `index=['index1','index2']`

In [15]:
df_estudiants = pd.DataFrame(dict_estudiants, index=["est1", "est2", "est3", "est4"])
df_estudiants

        nom  edat  nota
est1  Maria    20   8.5
est2  Berta    21   7.7
est3    Edu    19   9.4
est4  Arnau    23   5.9

In [16]:
df_estudiants.index

Index(['est1', 'est2', 'est3', 'est4'], dtype='object')

#### Cada clau és una fila

In [43]:
dict_estudiants = {
    "Maria": 8.5,
    "Berta": 7.7,
    "Edu": 9.4,
    "Arnau": 5.9,
}
df_estudiants = pd.DataFrame(dict_estudiants.items())
df_estudiants

       0    1
0  Maria  8.5
1  Berta  7.7
2    Edu  9.4
3  Arnau  5.9

Ara Pandas no sap quin nom posar a les columnes, així que hi ha posat números. Posa-hi noms

In [31]:
student_dict = {"Grade A": ["Joe", "Harry"], "Grade B": ["Nat"]}
print(student_dict)

student_df = pd.DataFrame.from_dict(student_dict, "index").stack().reset_index(level=0)
student_df

{'Grade A': ['Joe', 'Harry'], 'Grade B': ['Nat']}

   level_0      0
0  Grade A    Joe
1  Grade A  Harry
0  Grade B    Nat

### `DataFrame` des d'una llista

In [36]:
llista_fruites = ["Poma", "Mango", "Meló", "Cireres"]
df_fruites = pd.DataFrame(llista_fruites, columns=["Fruites"])
df_fruites

   Fruites
0     Poma
1    Mango
2     Meló
3  Cireres

In [48]:
llista_fruites = [["Poma", 1], ["Mango", 1.5], ["Meló", 1.2], ["Cireres", 2.3]]
df_fruites = pd.DataFrame(llista_fruites, columns=["Fruites", "Preu"])
df_fruites

   Fruites  Preu
0     Poma   1.0
1    Mango   1.5
2     Meló   1.2
3  Cireres   2.3

En realitat, quan hem creat un `DataFrame` a partir dels items d'un diccionari, l'estructurura era la mateixa

In [55]:
dict_estudiants.items()

dict_items([('Maria', 8.5), ('Berta', 7.7), ('Edu', 9.4), ('Arnau', 5.9)])

Si partim de dues o més llistes, les podem posar amb el format adequat amb zip

In [54]:
llista_fruites = ["Poma", "Mango", "Meló", "Cireres"]
llista_preus = [1, 1.5, 1.2, 2.3]
df_fruites = pd.DataFrame(list(zip(llista_fruites, llista_preus)), columns=["Fruites", "Preu"])
df_fruites

   Fruites  Preu
0     Poma   1.0
1    Mango   1.5
2     Meló   1.2
3  Cireres   2.3

## Modificar les dades